# (Data folder, too big for github) -> solved by splitting data
# Data/*

# Make an exception for the description file
# !Data/data.md

# Ignore jupyter notebook checkpoints
.ipynb_checkpoints/

helper/__pycache__

# Ignore matrix factorization checkpoints
checkpoints/
